* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Playfair Display", sans-serif;
}

body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.container {
  display: flex;
  justify-content: center;
}

.text-center {
  text-align: center;
}

.black {
  color: black;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
/* -----------------------------Header---------------------------- */
header {
  background-image: linear-gradient(
      100deg,
      rgba(37, 44, 48, 0.8) 100%,
      rgba(45, 95, 93, 0.85)
    ),
    url(../img/Banner2.png);
  background-size: cover;
  background-position: center;
  height: 70vh;
  background-attachment: fixed;
}

#header-mobile{
    display: none;
}
/* -----------------------------heder-top------------------------- */
.header-top {
  display: grid;
  grid-template-columns: 5fr 1fr;
  gap: 50px;
  padding: 10px 100px 10px 250px;
  background-color: #88b44e;
  height: 35px;
}

.main_contact {
  list-style: none;
}

.main_contact li {
  float: left;
  margin-right: 6%;
}

.main_contact li a i{
    color: black;
}

.main_contact li a {
  text-decoration: none;
  color: white;
}

.main_icon li{
    list-style: none;
    display: inline;
}

.main_icon li a {
  margin-right: 6%;
  text-decoration: none;
  color: white;
}

#cart-number {
  background-color: aliceblue;
  border-radius: 50%;
  padding: 5px 9px 5px 9px;
}

.main_icon a i {
  transition: all 0.5s;
}

.main_icon a:hover i {
  color: white;
}
/* -----------------------------heder-middle------------------------- */

.header-middle {
  background-color: rgba(37, 44, 48, 0.6);
  padding: 20px 250px 20px 250px;
}

.sticky{
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.logo {
  width: 40%;
  vertical-align: middle;
}

.main_nav {
  width: 700px;
  margin-top: 20px;
}

.main_nav li {
  list-style: none;
  display: inline;
  margin-left: 5%;
}

.main_nav li a {
  text-decoration: none;
  color: white;
  transition: all 0.5s;
}

.main_nav li a:hover {
  color: #88b44e;
}

.slogan h4{
    font-size: 200%;
    color:white;
}

.slogan h4 span{
    color: #88b44e;
}
/* ------------------------------header-bottom---------------------------- */
.header-bottom {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
}

.blog-center{
    animation-name: dropText;
    animation-duration: 3s;
}
@keyframes dropText {
    from{
        transform: translateY(-100%);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;

    }
}
/* ------------------------------blog-left-------------------------------- */

.blog-left {
  padding-left: 20%;
}

.icon {
  padding: 50px 0px 0px 18px;
}

.icon i {
  display: block;
  color: white;
  margin-bottom: 20%;
  transition: all 0.5s;
}

.icon hr {
  display: inline;
  margin-left: 5px;
  color: #88b44e !important;
}

.follow p {
  color: #88b44e;
  /* white-space: nowrap; */
  display: inline-block;
  transform: rotate(270deg) translateX(-50%) translateY(-50%);
  /* transform-origin: 0% 0%; */
}

.icon i:hover {
  color: #88b44e;
}

/* ---------------------------------Blog-center------------------------ */

.blog-center {
  margin-top: 10%;
}
.blog-center h1 {
  font-size: 350%;
  color: white;
}

.blog-center h4 {
  color: #88b44e;
  font-size: 120%;
}

/* ------------------------------------about-us------------------------ */

.about-us {
  margin-top: 5%;
}

.core {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 70%;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

#owner{
    width: 40%;
}

.services {
  background-color: #88b44e;
  padding: 10%;
  color: white;
}

.customer-support {
  padding: 10%;
  background-color: #252c30;
  color: #88b44e;
}

.payments {
  background-color: #88b44e;
  padding: 10%;
  color: white;
}

.services i,
.payments i,
.customer-support i {
  font-size: 300%;
}

.services h6,
.payments h6,
.customer-support h6 {
  font-size: 150%;
}

.services span,
.payments span {
  color: #15181a;
}

.customer-support span {
  color: white;
}

.read-more {
  padding: 20px 40px 20px 40px;
  background-color: #15181a;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
}

.read-more h3 {
  color: white;
  transition: all 0.5s;
}

.read-more:hover {
  background-color: #88b44e;
}

#history{
    display: block;
    display: -webkit-box;
    height: 16px * 1.3 * 3;
    line-height: 1.3;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    text-align: justify;
}

/* ----------------------------------description---------------------------- */

.description {
  margin-top: 6%;
}

.description h6 {
  font-size: 150%;
  color: #88b44e;
}

.description h1 {
  font-size: 250%;
  color: #15181a;
}

.description p {
  font-size: 120%;
  color: #15181a;
}

#history{
    width: 60%;
}

/* ---------------------------------our-products------------------------------- */

.our-products {
  background-color: rgb(243, 243, 243);
  height: 700px;
}

.descriptions h6 {
  font-size: 150%;
  color: #88b44e;
  padding-top: 6%;
}

.descriptions h1 {
  font-size: 250%;
  color: #15181a;
}

.descriptions p {
  width: 60%;
  font-size: 120%;
  color: #15181a;
}

.row {
  width: 1200px;
}

.product {
  position: relative;
  height: 400px;
}

.product img {
  width: 100%;
  padding: 5%;
  margin-top: 5%;
}

.slick-next:before,
.slick-prev:before {
  color: #88b44e !important;
  font-size: 60px !important;
}

.slick-next,
.slick-prev {
  /* top: 0% !important; */
  transform: translate(0%, 800%) !important;
}

.slick-prev {
  left: 46.5% !important;
}

.slick-next {
  right: 46.5% !important;
}

.name {
  width: 300px;
  padding: 20px;
  background-color: white;
  position: absolute;
  top: 55%;
  color: #252c30;
}

.name h1 {
  transition: all 0.5s;
}

.name h1:hover {
  color: #88b44e;
}

/* -----------------------------------------stories--------------------------------- */

.store{
    background-color: #88b44e;
    color: white;
}

.stories{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 60%;
}

.stories-img{
    width: 100%;
    height: 600px;
}

.title-stories{
    display: block;
    display: -webkit-box;
    height: 16px * 1.3 * 3;
    font-size: 15px;
    line-height: 1.3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 10px;
    text-align: justify;
}

.see-more {
  padding: 20px 40px 20px 40px;
  background-color: #15181a;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
}

.see-more h3 {
  color: white;
  transition: all 0.5s;
}

.see-more:hover {
  background-color: white;
}

.see-more:hover h3 {
  color: #252c30;
}
/* --------------------------------------online store---------------------------------- */

.products {
  width: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  height: 500px;
  margin-top: 5%;
}

.item {
  height: 450px;
}

.products div p {
  padding: 10px;
}

.money {
  font-size: 120%;
  font-weight: 900;
  color: #88b44e;
}

.button {
  /* position: absolute; */
  transform: translateY(-100%);
  background-color: rgba(246, 246, 246, 0.7);
    padding: 150px 0px 150px 0px;
  border-bottom: 5px solid #88b44e;
  opacity: 0;
  transition: all 0.5s;
}

.more-info {
  padding: 20px 40px 20px 40px;
  background-color: white;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
  transition: all 0.5s;
}

/* .add-to-cart {
  padding: 20px 33px 20px 33px;
  background-color: #88b44e;
  border-radius: 100px;
  margin-top: 5%;
  margin-bottom: 5%;
  border: 0px;
  color: white;
  transition: all 0.5s;
} */

.more-info:hover {
  background-color: #15181a;
  color: white;
}

.add-to-cart:hover {
  background-color: #15181a;
}

.item:hover .button {
  opacity: 1;
}

#show-more {
  margin-top: 0px;
}
/* ---------------------------------tutorial------------------------------ */
.tutorial {
  background-image: linear-gradient(
      45deg,
      rgba(37, 44, 48, 0.7) 100%,
      rgba(45, 95, 93, 0.85)
    ),
    url("/public/img/Untitled\ \(1\).jpg");
  height: 70vh;
}

.video {
  margin-top: 3%;
  width: 60%;
  height: 450px;
  filter: brightness(50%);
}

.how-to h1 {
  padding-top: 5%;
  color: white;
  font-size: 300%;
}

.how-to p {
  color: white;
  font-size: 150%;
}

#play {
  font-size: 500%;
  color: #88b44e;
  transform: translateY(-300%);
  background-color: white;
  border-radius: 100%;
  /* transition: all 0.5s; */
}

#play:hover {
  /* font-size: 550%;
    transform: translateY(-280%); */
  color: #252c30;
}

#modal-video {
  position: absolute;
  transform: translateY(-71%);
  padding: 560px;
  background-color: rgba(19, 18, 18, 0.7);
  display: none;
}

.fa-xmark {
  font-size: 200%;
  color: white;
  position: absolute;
  transform: translateX(600px);
  transition: all 0.5s;
}

.fa-xmark:hover {
  color: #88b44e;
}
/* -----------------------------------contact-------------------------------------------- */

.col-2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
    width: 70%;
}

.N-map iframe{
    width: 100%;
    height: 100%;
}

.input-button {
  padding: 8px 12px;
  outline: none;
  border: 0;
  color: #fff;
  border-radius: 4px;
  font-size: 120%;
  background: #88b44e;
  font-family: "Nunito", sans-serif;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.input-label {
  font-size: 120%;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  letter-spacing: 0.7px;
  color: #252c30;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 10px 10px 8px;
  border: 1px solid #252c30;
  border-radius: 4px;
  margin-bottom: 20px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input-block input, .input-block #message{
  outline: 0;
  border: 0;
  padding: 4px 0 0;
  font-size: 14px;
  font-family: "Nunito", sans-serif;
}

#message{
    height:200px;
}

.input-block:focus,
.input-block:hover{
    box-shadow: 5px 5px rgba(0, 0, 0,0.1);
}

/* -----------------------------------footer--------------------------------------------- */
footer{
    margin-top: 5%;
}
/* -----------------------------------footer top----------------------------------------- */

.footer-top{
    width: 100%;
    background-color: #88b44e;
}

.footer-top h1{
    color: white;
    font-size: 300%;
    padding: 2%;
}
/* -----------------------------------footer middle-------------------------------------- */
.footer-middle{
    background-color: #252c30;
    width: 100%;
}

.grid-2{
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.logo1{
    width: 40%;
    padding: 2%;
}

.padding{
    padding: 5%;
}

.col-3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2%;
}

.order h2{
    color: white;
}

.order ul{
    list-style: none;
}

.order ul li{
    transition: all 0.5s;
}

.order ul li a{
    text-decoration: none;
    color: white;
}

.order ul li a i{
    color: #88b44e;
}

.order ul li a svg{
    width: 3%;
    fill: #88b44e;
    transition: all 0.5s;
}

.order ul li:hover a{
    color: #88b44e;
}

.order ul li:hover i{
    color: white;
}

.order ul li:hover svg{
    fill: white;
}

.discover ul li:hover{
    transform: scale(1.1);
}
/* -----------------------------------footer bottom-------------------------------------- */
.footer-bottom{
    background-color: #15181a;
}

.footer-bottom h3{
    color: white;
    padding: 1%;
}
/* -----------------------------------menu offcanvas------------------------------------- */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidenav a {
  text-decoration: none;
  color: #252c30;
}

.sidenav .closebtn {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 36px;
  color: #252c30;
  transition: all 0.5s;
}
.sidenav .closebtn:hover {
  color: white;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.sidenav-Top {
  top: 0;
  width: 100%;
  height: 170px;
  background-color: #88b44e;
}

.menu {
  position: absolute;
  top: 10%;
  left: 40%;
  color: white;
}

.link{
    padding-top: 10%;
}

.link li{
    list-style: none;
    padding-bottom: 5%;
    font-size: 150%;
    font-weight: 700;
}

.link li:hover a{
    border-bottom: 1px solid black;
}


/* .avarta i {
  font-size: 150%;
  color: #88b44e;
  padding: 25px;
  background-color: white;
  border-radius: 50%;
} */
/* ---------------------------------- */
.status{
  text-decoration: none;
  color: #15181a;
  transition: all 0.5s;
}

.status:hover{
  color: #88b44e;
}


/* -------------------------------responsive----------------------------- */

@media (max-width: 1280px) {
    /*----------------------------header---------------------------------  */
    header{
        height: 70vh;
    }
  /* -----------------------------header top----------------------------- */
    .header-top {
        display: grid;
        grid-template-columns: 5fr 1fr;
        padding: 10px 50px 10px 150px;
        background-color: #88b44e;
        height: 35px;
    }   
    /* -----------------------------heder-middle------------------------- */
    .header-middle {
        background-color: rgba(37, 44, 48, 0.6);
        padding: 20px 150px 20px 150px;
    }


    .logo {
        width: 70%;
    }

    .slogan h4{
    font-size: 170%;
    color:white;
    }
    /* -----------------------------heder bottom------------------------- */
    .blog-center h1{
        font-size: 250%;
    }
    /* ------------------------------------------------------------------ */
    .descriptions h1{
        font-size: 200%;
    }
    /* -----------------------------store--------------------------- */
    .stories-img{
        height: 500px;
    }
    /* -----------------------------tutorial------------------------ */
    .how-to h1{
        font-size: 250%;
    }

    .how-to div p{
        font-size: 150%;
    }

    /* -----------------------------contact------------------------- */
    .contact{
        margin-top: 5%;
    }
    /* -----------------------------footer-------------------------- */
    /* -----------------------------footer top---------------------- */
    .footer-top h1{
        font-size: 250%;
    }
    /* -----------------------------footer middel-------------------------- */
    .slogan h4{
        font-size: 170%;
    }

    .col-3{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    gap: 50px;
    padding: 2%;
    padding-left: 6%;
    }

    .order h2{
        font-size: 140%;
    }

    .order img{
        width: 87%;
    }

}

@media (max-width: 428px){
    /* -------------------------------hearder----------------------- */
    #header{
        display: none;
    }

    #header-mobile{
        display: block;
    }

    header{
        height: 50vh;
    }
    /* -------------------------------hearder top----------------------- */
    .header-top{
        height: 20.5%;
        grid-template-columns: 3fr 1fr;
        padding: 5%;
    }

    .logo{
        width: 60%;
        padding-top: 2%;
    }

    .fa-bars{
        font-size: 250%;
        color: white;
        padding-right: 5%;
    }

    /* -------------------------------header middle----------------------- */
    .header-middle{
        padding: 15px 40px 15px 200px;
    }
    .slogan h4{
        font-size: 100%;
        line-height:1.5;
    }
    /* --------------------------------header bottom--------------------- */
    .header-bottom {
        display: grid;
        grid-template-columns: 1fr;
        padding: 10%;
    }

    .blog-center h1{
        font-size: 180%;
    }

    /* --------------------------------about us--------------------- */
    .core {
        display: grid;
        grid-template-columns: 1fr;
        width: 45%;
        gap: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .services i,
    .payments i,
    .customer-support i {
        font-size: 200%;
    }

    .services h6,
    .payments h6,
    .customer-support h6 {
        font-size: 100%;
    }
    /* ------------------------------------------------------------------ */
    .descriptions h1{
        font-size: 130%;
    }

    #owner{
        width: 70%;
    }

    #title-img{
        font-size: 110%;
    }

    #history{
        display: block;
        display: -webkit-box;
        width: 80%;
        height: 16px * 1.3 * 3;
        font-size: 110%;
        line-height: 1.3;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
        text-align: justify;
    }

    .read-more, .see-more {
        padding: 15px 20px 15px 20px;
        background-color: #15181a;
        border-radius: 100px;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 0px;
    }

    .read-more h3, .see-more h3 {
        color: white;
        font-size: 100%;
        transition: all 0.5s;
    }

    /* ---------------------------------product-------------------------- */
    .our-products {
        background-color: rgb(243, 243, 243);
        height: 450px;
    }

    .slick-next,
    .slick-prev {
        display: none;
    }

    .slick-next:before,
    .slick-prev:before{
        display: none;
    }

    .product {
        position: relative;
        height: 400px;
    }

    .product img {
        width: 100%;
        padding: 5%;
        margin-top: 5%;
    }

    .name h1{
        font-size: 120%;
    }

    .name p{
        display: block;
        display: -webkit-box;
        height: 16px * 1.3 * 3;
        font-size: 100%;
        line-height: 1.3;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
    }
    /* --------------------------------store---------------------------------- */
    .stories{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        width: 60%;
    }

    .stories-img{
        width: 100%;
        height: 350px;
    }

    .stories div h3{
        font-size: 110%;
    }
    /* ----------------------------------product popular------------------------------ */

    .online-store{
        height: 1450px;
    }

    .products {
        display: grid;
        grid-template-columns: 1fr;
        gap: 100px;
        margin-top: 5%;
    }

    .item {
        height: 350px;
        width: 100%;
    }

    .item img{
        width: 200px;
        height: 150px;
    }

    .item h1{
        font-size: 110%;
    }

    .item p {
        display: block;
        display: -webkit-box;
        height: 70px;
        font-size: 90%;
        line-height: 1.3;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 0px 50px 0px 50px;
        
    }

    .money {
        font-size: 120%;
        font-weight: 900;
        color: #88b44e;
    }

    .button {
        /* position: absolute; */
        transform: translateY(-100%);
        background-color: rgba(246, 246, 246, 0.7);
            padding: 150px 0px 150px 0px;
        border-bottom: 5px solid #88b44e;
        opacity: 0;
        transition: all 0.5s;
    }

    .more-info {
        padding: 20px 40px 20px 40px;
        background-color: white;
        border-radius: 100px;
        margin-top: 5%;
        margin-bottom: 5%;
        border: 0px;
        transition: all 0.5s;
    }

    #show-more {
        margin-top: 180%;
    }

    .more-info {
        padding: 15px 20px 15px 20px;
    }

    .more-info h3{
        font-size: 100%;
    }
    /* ---------------------------tutorial------------------------------ */

    .tutorial{
        height: 40vh;
    }

    .how-to h1{
        font-size: 150%;
    }

    .how-to div p{
        font-size: 100%;
    }

    .video {
        margin-top: 3%;
        width: 80%;
        height: 200px;
        filter: brightness(50%);
    }

    #play {
        font-size: 300%;
        color: #88b44e;
        transform: translateY(-250%);
        background-color: white;
        border-radius: 100%;
    }
    /* ------------------------------contact------------------------------- */
    .contact{
        height: 900px;
    }
    .col-2{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
        width: 80%;
    }

    .input-label {
        font-size: 80%;
        text-transform: uppercase;
        font-family: "Nunito", sans-serif;
        font-weight: 600;
        letter-spacing: 0.7px;
        color: #252c30;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }
    /* ------------------------------footer------------------------------- */
    .footer-top h1{
        font-size: 200%;
    }

    .grid-2{
        display: grid;
        grid-template-columns: 1fr 3.5fr;
    }

    .logo1{
        width: 100%;
        padding: 2%;
    }

    .padding{
        padding: 7% 0 7% 0;
    }

    .col-3{
        display: grid;
        grid-template-columns: 1fr;
        padding: 6%;
    }

    .order h2{
        font-size: 100%;
    }

    .order ul li a{
        font-size: 88%;
    }

    #discover{
        display: none;
    }

    /* -------------------------------header bottom------------------------------------- */

    .footer-bottom h3{
        font-size: 80%;
        padding: 5%;
    }
    /* -------------------------------menu--------------------------------------------- */
}